.ios, .md{

    page-home{

        ion-content{
            background: color($colors, primary)
        }

        .content{
            color: primary
        }

        h1{
          //color: color($colors, primary)
          color: #ffffff;
    
        }
    }

}